@font-face {
  font-family: "Product Sans";
  src: url("fuentes/ProductSansRegular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: #fff;
  background-size: cover;
  font-size: 10px;
  font-family: "Product Sans";
}
a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  text-shadow: 0 0 4px #fff;
}
header a{
   font-size: 2vmax;
}
div#titulo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
  /*position: fixed;
  width: 100%;*/
  position: relative;
  overflow: hidden;
  text-align: center;
}

.container{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.menu-toggle{
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #000;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1001;
  display: none;
  text-shadow: 0 0 4px #fff;
}

nav{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.marca{
  font-size: 5rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}

.marca span{
  color: crimson;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
  animation-delay: 0s;
}

nav ul li:nth-child(2){
  animation-delay: .5s;
}

nav ul li:nth-child(3){
  animation-delay: 1s;
}

nav ul li:nth-child(4){
  animation-delay: 1.5s;
}

nav ul li:nth-child(5){
  animation-delay: 2s;
}

nav ul li:nth-child(6){
  animation-delay: 2.5s;
}

nav ul li a{
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child{
  margin-right: 0;
}
@media (max-width:1060px){
nav ul li a::before,
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0050ff;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
}
@media (min-width:1061px) and (max-width:1640px){
nav ul li a::before,
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  font-size: 0.5vmax;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
}
@media (min-width:1641px){
nav ul li a::before,
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0050ff;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
}
nav ul li a::before{
  top: 0;
  transform-origin: left;
}

nav ul li a::after{
  bottom: 0;
  transform-origin: right;
}

.overlay{
  background-color: rgba(0,0,0,.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
  transform: scaleX(1);
}

@keyframes slideIn {
  from{
  }
  to{
    transform: translateX(0);
  }
}

@media screen and (max-width: 1060px){

  .menu-toggle{
    display: block;
  }

  nav{
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 49vh;
    text-align: center;
  }

  nav ul{
    margin-top: -55px;
    flex-direction: column;
  }

  nav ul li{
    margin-top: 1.75rem;
  }

  nav ul li a{
    margin: 0;
    font-size: 1.7rem;
  }

  .marca{
    font-size: 5rem;
  }
  
  .overlay.menu-open,
  nav.menu-open{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.72);
  z-index: 1000;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1;
  z-index: 1010;
  font-size: 5vw;
  @media (max-width: 400px) {
    font-size: 22px;
  }
  @media (min-width: 1200px) {
    font-size: 75px;
  }
}

h2 {
  font-family: "Product Sans";
  text-shadow: 0 0 1px #0050ff;
  font-size: 8vmin;
  text-align: center;
  mix-blend-mode: hard-light;
  color: #000;
}

h3 {
  font-weight: 900;
  margin: 0 0 1rem;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 3rem 0;
  font-weight: 900;
  color: #fff;
  position: relative;
  text-shadow: 0 0 13px #0050ff;
}

.responsive {
   width: 100%;
  height: auto;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

p {
    text-shadow: 0 0 13px #0050ff;
    font-size: calc(2em + 0.2vw);
    font-weight: 400;
    line-height: 2;
    color: #fff;
}

::-moz-selection {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

::selection {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.flecfin {
  position: relative;
  margin-top: -17px;
  margin-bottom: 22px;
  bottom: 0;
  left: 48.7%;
  width: 28px;
  height: 19px;
  background-image: url(fotos/flecfin.png);
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.mapa{
  position:relative;
  align-items: center;
  display:block;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
  text-align:center; 
}

.mapita{
  display: inline-block;
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 600px;
  margin-bottom: 13px;
  margin-right: 13px;
  max-width: 100%;
  text-align:center; 
}

.mapita h4{

    margin-top: 72px;
    font-size: calc(2.1em + 0.2vw);
    font-weight: 400;
    line-height: 2;
    color: #000;
}

.google-maps {
      position: relative;
      padding-bottom: 75%;
      height: 0;
      overflow: hidden;
  }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-container {
  position:relative;
  align-items: center;
  display:block;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
  text-align:center;

}

@media screen and (min-width:1380px) {
  .box-container {
    flex-direction: row;
  }
}

.box-item {
  display: inline-block;
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-bottom: 13px;
  margin-right: 13px;
  max-width: 100%;
  text-align:center;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}

.flip-box-button:hover {
  background-color: #f4511e;
  background: #0050ff;
  border-color: #0050ff !important;
  transition: all 1s ease 0s;
}

.photo{
  width: 100%;
  height: 700px;
  position: relative;
  background: url('fotos/fund5.jpg') center;
  background-size: cover;
  overflow: hidden;
}
.photo-text{
  text-shadow: 0 0 13px #0050ff;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo h4{
  text-shadow: 0 0 13px #0050ff;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #FEFFFF;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 998;
}
.photo p{
  text-shadow: 0 0 13px #0050ff;
  width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  color: #fff;
  position: relative;
  z-index: 998;
}
.content{
  width: 100%;
  min-height: 100px;
  position: relative;
  z-index: 1;
}
.content:before{
  content: '';
  width: 50%;
  height: 110px;
  position: absolute;
  top: -48px;
  left: 0;
  background-color: #FEFFFF;
  transform: skewY(5.5deg);/*8*/
}
.content:after{
  content: '';
  width: 50%;
  height: 110px;
  position: absolute;
  top: -48px;
  right: 0;
  background-color: #FEFFFF;
  transform: skewY(-5.5deg);/*8*/
}
.grand-title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  width: 60%;
  min-height: 100px;
  padding: 0;
  margin: 0 auto;
}
.grand-title h4{
  text-shadow: 0 0 1px #0050ff;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.2px;
  mix-blend-mode: hard-light;
  margin: 30px;
  color: #000;
}
.content .text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 999;
}
.form {
  width: 400px;
  margin:auto;
  background: white;
  border-radius: 3px;
  margin-top: 5em;
  margin-bottom: 6em;
  padding: 1.25em;
}
@media (max-width: 800px){
  .form{
  width: 350px;
}
}
.btn-primary {
  border: 2px solid #2dba97;
  background-color: #2dba97;
  border-color: #2dba97;
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 13px 13px;
  line-height: 1.472;
  width: 30%;
  border-radius: 3px;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
  font-size: 17px;
  letter-spacing: 1pt;
  text-align: center;
}
.btn-primary:hover {
  background: #0050ff;
  border-color: #0050ff !important;
  transition: all 1s ease 0s;
}
.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}
.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}
.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #002BD6;
  border-radius: 0;
  background: white;
  font-size: 25px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}
input, textarea {
  transition: all 800ms;
  resize: none;
  overflow: auto;
  outline:none; 
  font-family:inherit; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}
input:focus, textarea:focus {
  border-color: #48c9b0;
  color: #34495e;
}
input:focus + .input-field-icon {
  color: #34495e;
}
textarea.form-control {
  height: 120px;
  transition: .6s;
}
textarea.form-control:focus {
  height: 200px;
  border-color: #48c9b0;
}
.redes{
  margin-top: 133px;
}
@media (max-width: 600px) {
  .redes {
    margin-top: 222px;
    margin-bottom: -133px;
  }
}
.redes ul {
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:block;
  text-align:center; 
}
.redes ul li {
  list-style:none;
  display: inline-block;
  text-align:center; 
  padding-top: 20px;
}
.redes ul li a {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#000;
  margin: 0 30px;
  transition:.5s;
}
.redes ul li a span {
  position:absolute;
  transition: transform .5s;
}
.redes ul li a span:nth-child(1),
.redes ul li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#fff;
}
.redes ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
.redes ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}
.redes ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.redes ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}
.redes ul li a span:nth-child(2),
.redes ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#002BD6;
}
.redes ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.redes ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.redes ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.redes ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}
.redes .facebook:hover {
  color: #3c5898;
}
.redes .facebook:hover span { 
  background: #002BD6;
}
.redes .blog:hover {
  color: #fc4f08;
}
.redes .blog:hover span { 
  background: #fc4f08;
}
.redes .instagram:hover {
  color: #002BD6; 
}
.redes .instagram:hover span { 
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.redes .google:hover {
  color: #0F9D58;
}
.redes .google:hover span { 
  background: #0F9D58;
}
.redes .youtube:hover {
  color: #ff0000;
}
.redes .youtube:hover span { 
  background: #ff0000;
}
.redes .mail:hover {
  color: #002BD6;
}
.redes .mail:hover span { 
  background: #002BD6;
}
.redes ul li a .blog {
  color: #fc4f08;
}
.redes ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.redes ul li a:hover:nth-child(4) {
  color: #dd4b39;
}
footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
 @media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}
.footer-distributed{
  background-color: #002BD6;
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  padding: 50px 50px 60px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left{
  width: 40%;
  text-align: center;
}
.footer-distributed h3{
  color:  #fff;
  margin: 0;
}
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center{
  width: 25%;
}
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-distributed .footer-center p a{
  color:  #e0ac1c;
  text-decoration: none;;
}
.footer-distributed .footer-right{
  width: 30%;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons{
  margin-top: 25px;
}
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
@media (min-width: 881px) {
  .footer-distributed .footer-right{
   padding-left: 33px;
  }
}
@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}
.facebook-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    z-index: 1010;
}